@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

header {
  background-color: #191970;
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  color: aliceblue;
  font-family: "Quicksand", sans-serif;
}
header h1:hover {
  color: orangered;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}
a:hover {
  color: orangered;
}

a {
  text-decoration: none;
  color: aliceblue;
}

button {
  margin-left: 30px;
  height: 7vh;
  width: 7vw;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: orangered;
  color: #f9f6f6;
}
.parent {
  background-color: #f9f6f6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 88vh;
}

.child1 {
  width: 400px;
  height: 400px;
  background-color: #f9f6f6;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
}

.box {
  width: 170px;
  height: 170px;
  background-color: #e8e8e8b3;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  color: rgba(0, 0, 0, 0.857);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  transition: transform 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.box:hover {
  transform: scale(1.2, 1.3);
}
.box:nth-of-type(2) {
  margin-top: 30px;
}
.box:nth-of-type(4) {
  margin-top: 30px;
}

.box i {
  font-size: x-large;
}
.box p {
  text-align: center;
}
.child2 {
  width: 400px;
  height: 400px;
  background-color: #86a1b9;
}

.child2 img {
  width: 400px;
  height: 400px;
}

.parent1 {
  width: 100%;
  height: 100vh;
  background-color: #f9f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.card {
  width: 20vw;
  height: 80vh;
  background-color: #e8e8e8b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  font-family: "Open Sans", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: transform 0.5s;
}
.card:hover {
  transform: scale(1.1);
}

.card hr {
  height: 3px;
  width: 20vw;
  color: rgba(23, 3, 104, 0.588);
  background-color: rgba(34, 4, 130, 0.039);
  margin: 10px;
}

.card p {
  font-size: small;
}
.card span {
  font-size: small;
}
.card h1 {
  padding: 20px;
  font-weight: bolder;
}

.card button {
  margin: auto;
  text-align: center;
  width: 100px;
  height: 40px;
  border: 1px solid black;
}
.card button:hover {
  background-color: orangered;
  color: #f9f6f6;
}
.icons i {
  margin: 10px;
}
.icons {
  text-align: center;
}

.icons i:nth-of-type(4) {
  color: red;
}
.icons i:nth-of-type(5) {
  color: red;
}

footer {
  width: 100%;
  height: 15vh;
  background-color: #191970;
}

.first,
.second {
  height: 5vh;
  width: 100%;
}

footer:hover .loptica {
  transform: translateX(95.5vw);
}
footer:hover .loptica1 {
  transform: translateX(-95.5vw);
}

.third {
  width: 100%;
  height: 5vh;
  justify-content: center;
  display: flex;
  align-items: center;
  color: #f9f6f6;
}

.loptica {
  height: 5vh;
  width: 3%;
  background-color: orangered;
  border-radius: 50%;
  transition: transform 2s ease-in-out;
}
.loptica1 {
  float: right;
  height: 5vh;
  width: 3%;
  background-color: orangered;
  border-radius: 50%;
  transition: transform 2s ease-in-out;
}
