@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
}

header {
  height: 17vh;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  width: 100%;
}

.firsth {
  height: 6vh;
  background-color: #131212;
  color: white;
  padding-left: 100px;
  padding-top: 10px;
}

.firsth span {
  margin-right: 20px;
  margin-left: 10px;
}

.firsth i {
  color: #ca0303;
}

#fb {
  margin-left: 700px;
  color: white;
  font-size: large;
}
#fb:hover {
  color: #483d8b;
}

#instagram {
  margin-left: 20px;
  color: white;
  font-size: large;
}

#instagram:hover {
  color: orangered;
}

.secondh img {
  height: 11vh;
  margin-left: 20px;
}

.secondh {
  display: flex;
}

.secondh span:nth-of-type(1) {
  margin-top: 20px;
  font-weight: bolder;
}
