* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  width: 800px;
  height: 700px;
  background-color: #a4fadd;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-auto-rows: minmax(180px, auto);
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  /* Horizontalno poravnjanje: */
  justify-content: space-around;
  /* justify-content: end; ne koristiti flex-end */

  /* Vertikalno poravnjanje: */
  /* align-content: end; */
  align-content: space-between;
  /* Uzima povrsinu elementa samo onoliko koliko ima teksta u njemu, osima ako nema unapred odredjenu visinu i sirinu */
  justify-items: center;
}

.child {
  /* width: 150px; */
  /* height: 150px; */
}

.first {
  background-color: #7fff00;
}
.second {
  background-color: #511e05;
}
.third {
  background-color: #0d6e17;
}
.fourth {
  background-color: #4f732b;
}
.fifth {
  background-color: #a25e05;
}
.sixth {
  background-color: #1e3b01;
}
.seventh {
  background-color: #717b02;
}
