* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.site {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-auto-rows: 200px; */
  grid-template-rows: 7vh 7vh 20vh 300px 300px;
  grid-gap: 5px;
}

.header1 {
  background-color: aquamarine;
  grid-column: 1/ -1;
}

.header2 {
  background-color: aqua;
  grid-column: 1/ -1;
}

section {
  background-color: blueviolet;
  grid-column: 1/ -1;
  margin-bottom: 50px;
}

.card {
  background-color: rgb(195, 46, 13);
}
