* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171a1d;
  font-family: "Public Sans", sans-serif;
}

header {
  width: 100%;
  height: 64px;
  background-color: #2a3038;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: static;

  font-family: "Public Sans", sans-serif;
}

.header-child1 {
  width: 32%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-child1 span {
  margin-right: 40px;
  font-size: larger;
  color: white;
  /* font-weight: bold; */
}
.header-child1 i {
  font-size: x-large;
  color: rgb(89, 143, 143);
}
#lupa {
  color: #ffffff58;
  font-size: x-small;
  position: absolute;
}
.header-child1 input {
  height: 100%;
  width: 220px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(128, 128, 128, 0.213);
  font-weight: bold;
  padding-left: 35px;
}

.header-child2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: aliceblue;
  text-decoration: none;
  width: 32%;
  height: 60%;
  font-size: 14px;
}
.header-child2 a {
  color: aliceblue;
  text-decoration: none;
  color: #ffffff9f;
}
.header-child2 span {
  color: white;
  padding: 10px;
  background-color: #0d93f2;
  border-radius: 5px;
  text-decoration: underline;
}

.header1 {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.059);
  display: flex;
  justify-content: center;
  align-items: center;
}

.oba {
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.prvi {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.prvi img {
  height: 100%;
  width: 15%;
}
.drugi {
  width: 30%;
  height: 100%;
  display: flex;
  color: rgba(255, 255, 255, 0.752);
}
.prvi-text {
  width: 75%;
  height: 100%;
}

.text1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 7px;
}
.text1 span {
  font-size: x-large;
  color: white;
}
.text1 i {
  color: rgba(255, 255, 255, 0.237);
}
.text1 a {
  background-color: rgb(175, 175, 175);
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px;
}
.text2 {
  width: 100%;
  height: 50%;
  color: white;
  padding-top: 7px;
  font-size: 14px;
}
.text2 a:nth-of-type(1) {
  border-right: 1px solid white;
  padding-right: 5px;
  text-decoration: none;
  color: #0d93f2;
}
.text2 a:nth-of-type(2) {
  border-left: 1px solid white;
  padding-left: 5px;
  text-decoration: none;
  color: #0d93f2;
}

.drugi1 {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.059);
  padding-right: 10px;
  padding-top: 10px;
}

.drugi p {
  font-size: x-large;
  padding: 10px;
  color: rgba(255, 255, 255, 0.752);
}
.drugi2 {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.059);
  padding-left: 10px;
  padding-top: 10px;
}
.drugi3 {
  width: 40%;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.drugi3 p {
  text-align: center;
}
