* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #171a1d;
  font-family: "Public Sans", sans-serif;
}

header {
  width: 100%;
  height: 64px;
  background-color: #2a3038;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
  position: sticky;
  top: 0;

  font-family: "Public Sans", sans-serif;
}

.header-child1 {
  width: 32%;
  height: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-child1 span {
  margin-right: 40px;
  font-size: larger;
  color: white;
  /* font-weight: bold; */
}
.header-child1 i {
  font-size: x-large;
  color: rgb(89, 143, 143);
}
#lupa {
  color: #ffffff58;
  font-size: x-small;
  position: absolute;
}
.header-child1 input {
  height: 100%;
  width: 220px;
  border-radius: 5px;
  border: 0;
  background-color: rgba(128, 128, 128, 0.213);
  font-weight: bold;
  padding-left: 35px;
}

.header-child2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  color: aliceblue;
  text-decoration: none;
  width: 32%;
  height: 60%;
  font-size: 14px;
}
.header-child2 a {
  color: aliceblue;
  text-decoration: none;
  color: #ffffff9f;
}
.header-child2 span {
  color: white;
  padding: 10px;
  background-color: #0d93f2;
  border-radius: 5px;
  text-decoration: underline;
}

.header1 {
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.059);
  display: flex;
  justify-content: center;
  align-items: center;
}

.oba {
  width: 85%;
  height: 70%;
  display: flex;
  justify-content: space-between;
}

.prvi {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
.prvi img {
  height: 100%;
  width: 15%;
}
.drugi {
  width: 30%;
  height: 100%;
  display: flex;
  color: rgba(255, 255, 255, 0.752);
}
.prvi-text {
  width: 75%;
  height: 100%;
}

.text1 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 7px;
}
.text1 span {
  font-size: x-large;
  color: rgba(255, 255, 255, 0.752);
}
.text1 i {
  color: rgba(255, 255, 255, 0.237);
}
.text1 a {
  background-color: rgb(175, 175, 175);
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  padding: 2px;
}
.text2 {
  width: 100%;
  height: 50%;
  color: rgba(255, 255, 255, 0.752);
  padding-top: 7px;
  font-size: 14px;
}

.text2 a:nth-of-type(1) {
  border-right: 1px solid white;
  padding-right: 5px;
  text-decoration: none;
  color: #0d93f2;
}
.text2 a:nth-of-type(1):hover {
  color: #063b74fd;
  text-decoration: underline;
}
.text2 a:nth-of-type(2):hover {
  color: #063b74fd;
  text-decoration: underline;
}
.text2 a:nth-of-type(2) {
  border-left: 1px solid white;
  padding-left: 5px;
  text-decoration: none;
  color: #0d93f2;
}

.drugi1 {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.059);
  padding-right: 10px;
  padding-top: 10px;
}

.drugi p {
  font-size: x-large;
  padding: 10px;
  color: rgba(255, 255, 255, 0.752);
}
.drugi2 {
  width: 30%;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.059);
  padding-left: 10px;
  padding-top: 10px;
}
.drugi3 {
  width: 40%;
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
}
.drugi3 p {
  text-align: center;
}

.header2 {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.059);
  display: flex;
  align-items: center;
  justify-content: center;
}

.links {
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
}

.links a {
  text-decoration: none;
  color: #0d93f2;
}
.links a:hover {
  color: #063b74fd;
  text-decoration: underline;
}

.links a:nth-of-type(1) {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #0d93f2;
}

.about {
  color: rgba(255, 255, 255, 0.752);
  height: 150px;
  width: 92%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin-left: 8%;
  gap: 20px;
}

.about span:nth-of-type(1) {
  font-size: x-large;
}

.about a {
  text-decoration: none;
  color: #0d93f2;
}

.about a:hover {
  color: #063b74fd;
  text-decoration: underline;
}

.main-header {
  width: 100%;
  height: 55px;
  background-color: #27272b;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.06); */
  display: flex;
}

.mainheader1 {
  border-right: 2px solid white;
  width: 32%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainheader1 input {
  width: 90%;
  height: 70%;
  padding-left: 30px;
  background-color: #36363b;
  border: 1px solid rgba(128, 128, 128, 0.219);
  transition: 0.3s;
}
.mainheader1 input:hover {
  border-color: #0d93f2;
  transition: 0.3s;
}
#lupa2 {
  color: #ffffff58;
  font-size: x-small;
  position: absolute;
  left: 32px;
}
.mainheader2 {
  border-right: 2px solid white;
  width: 32%;
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 5px;
  color: #ffffff9f;
  font-size: small;
}

.mainheader2 span:nth-of-type(1) {
  color: darkgreen;
  font-weight: bold;
}
.mainheader2 span:nth-of-type(3) {
  background-color: #40aaf5;
  color: white;
  margin-left: 175px;
  padding: 8px;
  padding-left: 30px;
  padding-right: 10px;
  font-size: small;
  cursor: pointer;
  transition: 0.5s;
}
.mainheader2 span:nth-of-type(3):hover {
  background-color: #6cd3eb;
  transition: 0.5s;
}

.mainheader2 i {
  position: absolute;
  left: 55%;
  color: white;
}
.mainheader3 {
  width: 36%;
  display: flex;
  align-items: center;
  padding: 15px;
  color: #ffffff9f;
  font-size: small;
  gap: 30px;
}

.mainheader3 span:nth-of-type(1) {
  color: #0d93f2;
  border-bottom: 2px solid #0d93f2;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.mainheader3 span:nth-of-type(2) {
  margin-left: 50px;
  cursor: pointer;
}
.mainheader3 span:nth-of-type(2):hover {
  color: #0d93f2;
}
.mainheader3 span:nth-of-type(3) {
  color: grey;
  cursor: not-allowed;
}

.main {
  width: 100%;
  height: 650px;
  display: flex;
}

.main1 {
  border-right: 2px solid white;
  width: 32%;
  height: 650px;
}
.main1child1 {
  background-color: #27272b;
  width: 100%;
  height: 7%;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #ffffff9f;
  font-size: small;
  gap: 5px;
}
.main1child1:hover {
  background-color: rgba(5, 5, 46, 0.41);
  cursor: pointer;
}
.main1child2:hover {
  background-color: rgba(5, 5, 46, 0.41);
  cursor: pointer;
}
.main1child1 span:nth-of-type(1) {
  color: darkgreen;
  font-weight: bold;
}
.main1child2 {
  background-color: #27272b;
  width: 100%;
  height: 7%;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: #ffffff9f;
  font-size: small;
  gap: 5px;
}
.main1child2 span:nth-of-type(1) {
  color: darkgreen;
  font-weight: bold;
}
.main2 {
  border-right: 2px solid white;
  width: 32%;
  height: 650px;
}
.main3 {
  height: 650px;
  width: 36%;
}

.main2child1 {
  color: rgba(255, 255, 255, 0.835);
  padding: 15px;
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.main2child2 {
  color: #ffffffc7;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.main2child2 span:nth-of-type(2) {
  background-color: #27272b;
  margin-left: 40px;
  padding-right: 180px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 5px;
  cursor: pointer;
}

.main2child2 span:nth-of-type(2):hover {
  border: 1px solid #0d93f2;
}
.main2child2 p {
  color: #0d93f2;
  margin-top: 10px;
  margin-left: 122px;
}
.main2child2 i {
  position: absolute;
  right: 525px;
  color: rgba(128, 128, 128, 0.315);
}

.main2child3 {
  width: 100%;
  height: 50px;
  background-color: #27272b;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 15px;
  color: #ffffffc7;
  font-size: 14px;
}

.main2child3 i {
  color: rgba(128, 128, 128, 0.315);
}

.main2child4 {
  color: #ffffffc7;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
  height: 150px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.main2child4 span:nth-of-type(2) {
  background-color: #27272b;
  margin-left: 35px;
  padding-right: 125px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 5px;
  cursor: pointer;
}
.main2child4 span:nth-of-type(4) {
  background-color: #27272b;
  margin-left: 30px;
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  cursor: no-drop;
}

.main2child4 span:nth-of-type(2):hover {
  border: 1px solid #0d93f2;
}
.main2child4 p {
  color: #0d93f2;
  margin-top: 10px;
  margin-left: 132px;
}
.main2child4 i {
  position: absolute;
  right: 525px;
  color: rgba(128, 128, 128, 0.315);
}
.main2child5 {
  width: 100%;
  height: 50px;
  background-color: #27272b;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  align-items: center;
  padding-left: 15px;
  gap: 15px;
  color: #ffffffc7;
  font-size: 14px;
}

.main2child5 i {
  color: rgba(128, 128, 128, 0.315);
}

.main2child6 {
  color: #ffffffc7;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 13px;
  width: 100%;
  height: 150px;
}

.main2child6 span:nth-of-type(2) {
  background-color: #27272b;
  margin-left: 95px;
  padding-right: 200px;
  padding-left: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 5px;
  cursor: pointer;
}

.main2child6 span:nth-of-type(2):hover {
  border: 1px solid #0d93f2;
}
.main2child6 p {
  color: #0d93f2;
  margin-top: 10px;
  margin-left: 132px;
}
.main2child6 i {
  position: absolute;
  right: 525px;
  color: rgba(128, 128, 128, 0.315);
}

.main3child1 {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
  font-size: 14px;
  color: #ffffffc7;
}
.main3child1 span:nth-of-type(1) {
  background-color: #36363b;
  border: 1px solid rgba(128, 128, 128, 0.219);
  padding: 3px;
  border-radius: 3px;
  padding-right: 20px;
  padding-left: 5px;
}
.main3child1 i:nth-of-type(1) {
  position: absolute;
  left: 990px;
  font-size: 10px;
}
.main3child1 i:nth-of-type(2) {
  color: #0d93f2;
}
.main3child1 span:nth-of-type(2) {
  color: #0d93f2;
}

.main3child2 {
  font-size: 12px;
  padding-left: 20px;
  word-spacing: 5px;
  color: white;
  line-height: 20px;
}

.main4 {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
  padding-right: 60px;
  font-size: 14px;
}

footer {
  background-color: #133154;
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-child1 {
  height: 40px;
  width: 90%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.348);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffffc7;
  font-size: 14px;
}
.footer-child2 {
  height: 40px;
  width: 90%;
  display: flex;

  align-items: center;
  color: #ffffffc7;
  font-size: 14px;
}
.footer-child2 p:nth-of-type(2) {
  margin-left: 50px;
  word-spacing: 10px;
}
