@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
}

.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.104);
  position: relative;
  display: flex;
}

.header img {
  height: 34px;
  width: 91px;
  float: left;
  margin-top: 10px;
  margin-left: 20px;
  position: absolute;
}

.categories {
  margin-top: 20px;
  margin-left: 130px;
  position: absolute;
  text-decoration: none;
  color: rgb(57, 56, 56);
  font-size: small;
}

input {
  width: 650px;
  height: 40px;
  position: relative;
  margin-left: 220px;
  margin-top: 10px;
  border: 1px solid #1c1d1f;
  border-radius: 9999px;
  background-color: #f7f9fa;
  text-indent: 40px;
}
input:active {
  border-color: bluevioleta;
}

#lupa {
  position: absolute;
  top: 22px;
  left: 235px;
  color: #434444;
  cursor: wait;
}

.links {
  position: absolute;
  right: 200px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(57, 56, 56);
  font-size: small;
  margin-left: 15px;
}
a:active {
  color: blueviolet;
}
a:hover {
  color: blueviolet;
}

.icons {
  position: absolute;
  right: 100px;
  top: 20px;
  font-size: larger;
  word-spacing: 10px;
  margin-left: 20px;
}

.header img:nth-of-type(2) {
  border-radius: 50%;
  position: absolute;
  right: 50px;
  top: 5px;
  width: 30px;
  height: 30px;
}

.parent {
  width: 75%;
  height: 320px;
  background-color: #f5f6f7;
  margin: auto;
  position: relative;
}

.parent img {
  height: 320px;
  float: right;
  margin-right: 250px;
  background-color: beige;
}

.child {
  height: 100px;
  width: 300px;
  background-color: white;
  position: absolute;
  left: 50px;
  top: 50px;
  font-size: small;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.344);
}

.child h1 {
  margin-bottom: 10px;
  font-family: "Lora", serif;
}

h2 {
  margin-top: 30px;
  margin-left: 200px;
  font-family: "Lora", serif;
  font-size: 28px;
}

.card {
  height: 120px;
  width: 320px;
  border: 1px solid rgba(128, 128, 128, 0.338);
  display: inline-block;

  font-size: small;
}

.first img {
  width: 100px;
  height: 110px;
}
.second img {
  width: 100px;
  height: 120px;
}
.third img {
  width: 100px;
  height: 120px;
  opacity: 0.8;
}

.first {
  position: relative;
  top: 20px;
  left: 200px;
}
.second {
  position: absolute;
  top: 462px;
  left: 535px;
}
.third {
  position: absolute;
  top: 462px;
  left: 870px;
}

.first span {
  position: absolute;
  top: 20px;
  left: 120px;
  font-weight: bold;
}
.first span:nth-of-type(2) {
  position: absolute;
  top: 50px;
  left: 120px;
  font-weight: normal;
}
.first span:nth-of-type(3) {
  position: absolute;
  top: 5px;
  left: 300px;
  font-size: larger;
  font-weight: lighter;
  cursor: pointer;
}

.first a {
  color: blueviolet;
  font-weight: bold;
}

.second span:nth-of-type(1) {
  position: absolute;
  top: 15px;
  left: 110px;
  font-size: smaller;
  color: #434444;
}
.second span:nth-of-type(2) {
  position: absolute;
  top: 35px;
  left: 110px;
  font-size: small;
  font-weight: bold;
}
.second span:nth-of-type(3) {
  position: absolute;
  top: 85px;
  left: 110px;
  font-size: smaller;
  color: #434444;
}
.third span:nth-of-type(1) {
  position: absolute;
  top: 15px;
  left: 110px;
  font-size: smaller;
  color: #434444;
}
.third span:nth-of-type(2) {
  position: absolute;
  top: 35px;
  left: 110px;
  font-size: small;
  font-weight: bold;
}
.third span:nth-of-type(3) {
  position: absolute;
  top: 85px;
  left: 110px;
  font-size: smaller;
  color: #434444;
}
.second hr {
  position: absolute;
  width: 190px;
  left: 100px;
  top: 113px;
  height: 7px;
  background-color: blueviolet;
}
.second hr:nth-of-type(2) {
  position: absolute;
  width: 32px;
  left: 288px;
  top: 113px;
  height: 7px;
  background-color: rgba(118, 117, 119, 0.206);
  border: 0;
}

.second i {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.618);
  width: 100px;
  height: 120px;
  left: 0;
  padding: 42px 32px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
}
.third i {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.618);
  width: 100px;
  height: 120px;
  left: 0;
  padding: 42px 32px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
}
.third hr {
  position: absolute;
  width: 20px;
  left: 100px;
  top: 113px;
  height: 7px;
  background-color: blueviolet;
}
.third hr:nth-of-type(2) {
  position: absolute;
  width: 200px;
  left: 120px;
  top: 113px;
  height: 7px;
  background-color: rgba(118, 117, 119, 0.206);
  border: 0;
}

.klasa {
  position: absolute;
  right: 180px;
  top: 420px;
  color: blueviolet;
  text-decoration: underline;
  font-weight: bold;
}
