* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 233, 106);
}

.main {
  margin: 80px auto;
  max-width: fit-content;
  background-color: rgb(244, 250, 255);
  border-radius: 20px;
  box-shadow: 20px 20px 20px rgba(252, 127, 10, 0.77);
  /* padding: 5px; */
  text-align: center;
}
.ras {
  padding: 5px;
  text-align: center;
}

.main tr td:nth-of-type(1) {
  text-align: center;
}

table tr:nth-of-type(1) td {
  text-align: center;
  text-transform: uppercase;
  color: darkred;
  border-bottom: 1px dashed rgb(202, 36, 6);
  font-weight: 600;
  border-radius: 20px 20px 0px 0px;
}
tr:nth-of-type(2) {
  text-align: center;
  text-transform: uppercase;
  color: darkred;
  font-weight: bold;
}

.main tr:nth-last-child(1) td {
  text-align: right;
  padding: 10px;
  font-style: italic;
  font-weight: bold;
  color: darkred;
}

.main tr td {
  text-transform: capitalize;
  width: 120px;
  height: 30px;
  padding: 0px 5px;
}

.main tr:nth-of-type(2) td {
  text-transform: uppercase;
}
table {
  border-spacing: 0px;
}

table tr:nth-of-type(3) td {
  border: 1px dotted rgb(255, 208, 0);
  background-color: rgba(213, 254, 240, 0.648);
}
table tr:nth-of-type(4) td {
  border: 1px dotted rgb(255, 208, 0);
}
table tr:nth-of-type(5) td {
  border: 1px dotted rgb(255, 208, 0);
  background-color: rgba(213, 254, 240, 0.648);
}
table tr:nth-of-type(6) td {
  border: 1px dotted rgb(255, 208, 0);
}
table tr:nth-of-type(7) td {
  border: 1px dotted rgb(255, 208, 0);
  background-color: rgba(213, 254, 240, 0.648);
}
table tr:nth-of-type(8) td {
  border: 1px dotted rgb(255, 208, 0);
}
table tr:nth-of-type(9) td {
  border: 1px dotted rgb(255, 208, 0);
  background-color: rgba(213, 254, 240, 0.648);
}
