* {
  margin: 0;
  box-sizing: border-box;
}
.parent {
  margin: auto;
  background-color: chartreuse;
  width: 500px;
  height: 500px;
}

.child {
  width: 50%;
  height: 50%;
  background-color: darkolivegreen;
  /* animation: top-to-bottom 1.3s ease-in 0.5s forwards infinite alternate ; */
}

.parent:hover .child {
  animation: top-to-bottom 2s ease-in 0.5s forwards infinite alternate;
  /* forwards animacija ostaje na kraju kontejnera prilikom pomeranja */
  /* 2 znaci koliko puta ce se ponoviti animacija, mozemo umesto broja staviti infinte da se ponavlja neograniceno */
  /* alternate animacija se vraca istim putem na mesto */
  /* animation-play-state: paused ; kada predjemo misem preko animacije ona se zaustavlja */
}

@keyframes top-to-bottom {
  0% {
    transform: translateX(0%);
  }
  33% {
    transform: translateX(100%);
    background: rgb(186, 114, 7);
  }
  50% {
    transform: translate(50%, 50%);
    background-color: rgb(25, 11, 11);
  }
  66% {
    transform: translate(100%, 100%);
    background-color: rgb(201, 118, 118);
  }
  100% {
    transform: translate(0%, 100%);
    background-color: brown;
  }
}
